* {
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

*, button, input {
    font-family: 'Roboto', sans-serif;
}

.root {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 70%;
    padding: 2rem;
    display: flex;
    
    align-self: center;
}
